body{
	margin:0px;
	background:#f5f5f5;
}
.col1{
	width:20%;
	
}
.col4{
	width:80%;
}
ul{
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
}
ul li:hover {
background:#554e7a;
}
ul li {

background:#6A6198;
list-style-type:none;
width:100%;
height:40px;
/*font-weight: bold;*/
font-size: 15;
color:white;
padding:10px 0 0 0;
border-top:0.2px solid white;


}
.content{
	/*display:flex;*/
	/*position: relative;*/
	height:100%;
	width:100%;
	float:left;
}
.storage:hover{
	background: #f9f9f9;
}
.storage{
	border:1px solid #dedede;
	width:20%;
	height:33%;
	display:inline-block;
	background:white;
	box-shadow: 10px 10px 5px #888888;
	/*height:33%;*/
	/*display:flex; */
	/*position:absolute;*/
	margin:2%;
}
.wrapper{
	display: flex;
	width:100%;
	height:100%;
}
.row{
	display: flex;
	width:100%;
	height:100%;
}
.menu{
	background:#6A6198;
	width:100%;
	height:100%;
	padding:0px;
	display: flex;
	font-size: 14;
}	
.logo{
	width:100%;
	background:#92cf5c;
	border-top:#888;
}
.list{
	display: none;
}
.note{
	display: none;
}

.list_new{
	display: block;
}

.note_new{
	display: block;
}
a{
	text-decoration: none;
}